<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA4LTwrXqmzV1Hy_HjV6VX4JWB3f4I0DVI</string>
	<key>GCM_SENDER_ID</key>
	<string>257128819832</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.okoshki</string>
	<key>PROJECT_ID</key>
	<string>okoshki-5b1ef</string>
	<key>STORAGE_BUCKET</key>
	<string>okoshki-5b1ef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:257128819832:ios:1d0cf10e3355e7e777118d</string>
</dict>
</plist>